<!DOCTYPE html>
<html>
<head>
  <title>AfterSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "HOME", root_path %>
<% if user_signed_in? %>
	<%= link_to "#{current_user.surname} #{current_user.name}", edit_user_registration_path %>
	<%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "LOGIN", new_user_session_path %>
	<%= link_to "SIGN UP", new_user_registration_path %>
<% end %>

<br>

<%= yield %>

</body>
</html>
